{% extends 'base.html' %}
{% block body %}
<section>
	{% if auth and valid %}
	<h1>Edit a book</h1>
	<form method="post" action="/catalog/{{ book.id }}/edit">
		<table>
			<tr>
				<td>Title:</td>
				<td><input type="text" name="title" value="{{ book.title }}"></td>
			</tr>
			<tr>
				<td>Author:</td>
				<td><input type="text" name="author" value="{{ book.author }}"></td>
			</tr>
			<tr>
				<td>Publication year:</td>
				<td><input type="text" name="pub_year" value="{{ book.pub_year }}"></td>
			</tr>
			<tr>
				<td>Description:</td>
				<td><input type="textarea" name="description" value="{{ book.description }}"></td>
			</tr>
			<tr>
				<td>Category:</td>
				<td>
					<select name="category">
						{% for cat in categories %}
						<option value="{{cat.name}}" {% if cat.name == book.category %} selected="selected"{% endif %}>{{cat.name}}</option>
						{% endfor %}
					</select>
				</td>
			</tr>
			<tr>
				<td colspan="2"><input type="submit"></td>
			</tr>
		</table>
	</form>
	{% else %}
	<p>You are not authorized to view this page. Either log in or it is not your book.</p>
	{% endif %}
</section>
{% endblock %}